[madcatmailer]
# dummy config example

# path or url to list with smtp's, of format "server|port|username|password"
smtps_list_file: /Users/user/databases/smtp_gmail_11.04.25.txt

# path or url to file with email leads and other email-related data like names etc., separeted by any delimiter.
mails_list_file: /Users/user/www/avalon/william/10k_gmail_crypto.txt

# comma-separeted list of emails to send test emails to for each new smtp server used. Used to carry inbox-rate statistics.
mails_to_verify: aels.martin@gmail.com

# From:-field of lure email, all macros are supported
mail_from: Client support <{smtp_user}>

# Reply-To:-field of lure email, all macros are supported
mail_reply_to: Client support <{smtp_user}>

# Subject:-field of lure email , all macros are supported
mail_subject: Recent account activity

# path or url to file or folder with email(s) "html" or "txt" body. In case of folder one random file from it will be picked for every email.
# also can be just email body string (useful when you send sms and don't need separate file for email text)
mail_body: /Users/user/www/avalon/william/coinbase_letter.html

# comma-separeted list of paths or urls to desired attachment files, or paths to the folders. Each path will add corresponding file as attachment.
# In case of folder one random file from it will be picked for every email.
# may be empty. Attachment file names will be picked from original filenames as is (like "invoice.rar" in example).
# all macros supported
attachment_files: /path/to/evil/invoice.rar,/path/to/folder,https://example.com/file-api.php?name=for-{random_fname}.iso

# path or url to file, filled with redirect-urls to place on {url} placeholder inside email body.
# one random line will be picked for each email. may be empty
redirects_file:

# use "add_read_receipts: true" to add "read receipt" headers to your emails. Leave empty if you don't want to add these headers
add_read_receipts:
