[madcatmailer]
# dummy config example

# path or url to list with smtp's, of format "server|port|username|password"
smtps_list_file: file_with_our_smtp_servers.txt

# path or url to file with email leads and other email-related data like names etc., separeted by any delimiter.
mails_list_file: /Users/User/Downloads/70k_validated.txt

# comma-separeted list of emails to send test emails to for each new smtp server used. Used to carry inbox-rate statistics.
mails_to_verify: die-hard-us@outlook.com

# From:-field of lure email, all macros are supported
mail_from: Kate Tyler <{{smtp_user}}>

# Reply-To:-field of lure email, all macros are supported
mail_reply_to: Kate Tyler <{{smtp_user}}>

# Subject:-field of lure email , all macros are supported
mail_subject: Hey, {{smtp_host}} are welcoming you!

# path or url to file with email "html" or "txt" body.
# also can be just email body string (useful when you send sms and don't need separate file for email text)
mail_body: /path_to/lure.html

# comma-separeted list of paths or urls to desired attachment files. may be empty. Attachment file names will be picked from original filenames as is (like "invoice.rar" in example)
attachment_files: /path/to/evil/invoice.rar

# path or url to file, filled with redirect-urls to place on {{url}} placeholder inside email body.
# one random line will be picked for each email. may be empty
redirects_file:

# use "add_read_receipts: true" to add "read receipt" headers to your emails. Leave empty if you don't want to add these headers
add_read_receipts:
